button{
    font-family: "Lexend Deca", sans-serif;
    border: none;
    background-image: linear-gradient(to right top, #5FFBF1, #D16BA5, #86A8E7);
    color: #ffffff;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 13px 26px;
    cursor: pointer;
    transform: skew(15deg);
    transition: all 1s;
  }
  
  .main-text {
    display: inline-block;
    transform: skew(-15deg);
  }
  
  button:hover {
    transform: translateY(-3px);
    background-image: linear-gradient(to bottom, #D16BA5, #86A8E7, #5FFBF1);
    border-radius: 26px;
    animation: pulsate 1s infinite;
  }
  
  button:hover span {
    display: inline-block;
    transform: translateX(2px);
    transition: all 1s;
  }
  
  button:focus {
    outline: none;
    border-radius: 26px;
    animation: pulsate 1s infinite;
  }
  
  @keyframes pulsate {
    0% {
      transform: scale(1);
      box-shadow: none;
    }
  
    50% {
      transform: scale(1.03);
      box-shadow: 0 16px 16px rgba(0, 0, 0, 0.4);
    }
  
    100% {
      transform: scale(1);
      box-shadow: none;
    }
  }
  
  @media (max-width: 768px) {
    button {
      width: 70px;
      height: 40px; 
      font-size: 12px; 
      padding: 5px 10px; 
      transform: skew(0deg); 
      top: 10px; 
      left: 10px; 
      position: absolute; 
    }
  
    button:hover {
      transform: translateY(-2px); 
      border-radius: 15px; 
    }
  }

  .github-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(120deg, #2b2a2a, #6200a3, #292929);
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .github-button svg {
    color: white;
    width: 30px;
    height: 30px;
    z-index: 1;
  }
  
  .github-button:nth-child(2) {
    background: #333; 
  }
  
  .github-button:active {
    transform: scale(0.85);
  }
  
  .github-button::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #212121;
    border-radius: 50%;
    z-index: -1;
    transition: width 0.4s, height 0.4s;
  }
  
  .github-button:hover::before {
    width: 0;
    height: 0;
  }
  
  .github-button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.btn {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: .2s;
  background: linear-gradient(0deg, #000, #272727);
}

.btn:before, .button:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(45deg, #D16BA5, #5FFBF1, #86A8E7, #D16BA5, #86A8E7, #5FFBF1);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.btn:after {
  filter: blur(50px);
}


 
 
  