:root {
    --background-light: url('Pictures/Skyimage.jpg'); 
    --background-dark: url('Pictures/Starsimage.jpg'); 
    --text-color-light: #000;
    --text-color-dark: #fff;
    --navbar-bg-light: #1cd8f5; 
    --navbar-bg-dark: #111;
    --link-color-light: #000; 
    --link-color-dark: #ccc;
  }
  
  body {
    height: 100vh;
    margin: 0;
    background-image: var(--background-light);
    background-size: cover;
    color: var(--text-color-light);
    transition: background-image 0.5s, color 0.5s;
  }
  
  
  .dark-mode {
    background-image: var(--background-dark);
    color: var(--text-color-dark);
  }
  
  /* Desktop Navbar */
  .navbar {
    width: 100%;
    background-color: var(--navbar-bg-light);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    transition: background-color 0.5s;
  }
  
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: var(--link-color-light);
    text-decoration: none;
    padding: 14px 20px;
    transition: color 0.5s;
  }
  
  /* Mobile Navbar */
  .mobile-nav {
    display: none;
    width: 100%;
    background-color: var(--navbar-bg-light);
    padding: 14px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays on top */
    transition: background-color 0.5s;
  }
  
  .hamburger {
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--link-color-light);
    margin: 5px 0;
    transition: background-color 0.5s;
  }
  
  .mobile-menu {
    display: none;
    list-style: none;
    background-color: var(--navbar-bg-light);
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50px; /* Adjust this value based on the height of your mobile nav */
    width: 100%;
    transition: background-color 0.5s;
  }
  
  .mobile-menu li {
    border-bottom: 1px solid #444;
  }
  
  .mobile-menu a {
    color: var(--link-color-light);
    text-decoration: none;
    display: block;
    padding: 14px 20px;
    transition: color 0.5s;
  }
  
  /* Dark Mode */
  .dark-mode .navbar,
  .dark-mode .mobile-nav,
  .dark-mode .mobile-menu {
    background-color: var(--navbar-bg-dark);
  }
  
  .dark-mode .nav-links a,
  .dark-mode .hamburger span,
  .dark-mode .mobile-menu a {
    color: var(--link-color-dark);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .desktop-nav {
      display: none;
    }
  
    .mobile-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .mobile-menu {
      display: block;
    }
  }
  